---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="canonical" href="https://www.joyfulness.company/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.joyfulness.company/" />
    <meta property="og:image" content="https://www.joyfulness.company/logo-social.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <style>
      @font-face {
        font-family: 'Golpherd';
        src: url('/fonts/Golpherd.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Libertad';
        src: url('/fonts/Libertad-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'LibertadBold';
        src: url('/fonts/Libertad-ExtraBold.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Noto Sans';
        src: url('/fonts/NotoSans-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Noto Sans';
        src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
